@tailwind base;
@tailwind components;
@tailwind utilities;

.table {
  @apply w-full divide-y divide-accent-300 border-y border-accent-300 text-accent-900;
}

.table-body {
  @apply divide-y divide-accent-300 text-sm;
}

/* .table-data {
  @apply px-6;
} */

.modal-input {
  @apply w-full rounded border border-accent-200 bg-accent-50 px-3 py-4 focus:border-accent-400 focus:outline-none;
}

.form-checkbox {
  @apply flex items-center gap-2;
}

/* @font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 100;
} */

.grab::-webkit-scrollbar {
  height: 1px;
  width: 1px;
}

:root {
  font-family: "Roboto", system-ui, Helvetica, Arial, sans-serif;
  color: #212529;
  /* font-size: 14px; */

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

input[type="password"]::placeholder {
  font-size: 0.875rem;
}

.scrollable::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}
.scrollable::-webkit-scrollbar-track {
  /* background: #fdfdfd; */
  border-radius: 4px;
}

/* Handle */
.scrollable::-webkit-scrollbar-thumb {
  background: #99a2a5;
  border-radius: 999px;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background: #667479;
}
/*
@font-face {
  font-family: "password";
  src: local("Arial");
  unicode-range: U+25CF;
} */
